<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    padding: 50px 0 20px 50px;
}

p{
    width: 60%;
    padding-left: 50px;
=======
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    padding: 50px 0 20px 50px;
}

p{
    width: 60%;
    padding-left: 50px;
>>>>>>> 4bf0beabc92bf1120031c202461b62b5998f247c
}